@import "typing";

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;

  #header-about {
    @include typing-anim(2.5s, 10);
  }

  #caret-about {
    @include blinking-caret-anim(0s, infinite, backwards);
  }

  #text-about {
    width: 100%;
    margin: 10px;
    line-break: 60;
    // background-color: yellowgreen;
  }
}
