@import "typing";

#about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .typewriter {
    margin-top: 2vw;
  }

  .type-about {
    @include typing-anim(2.5s, 12);
  }

  #caret-about {
    @include blinking-caret-anim(0s, infinite, backwards);
  }

  #text-about {
    max-width: 800px;
    width: 100%;
    margin: 10px 0px;
  }
}
