@import "variables";

.bit {
  position: fixed;
  background: transparent;
  color: rgba(0, 0, 0, 0.4);
  font-size: 11px;
  animation: bits-anim 50s linear infinite;
}

#bit-one {
  text-shadow: get-box-shadows(60);

  &::after {
    content: "1";
    position: absolute;
    top: 2000px;
    text-shadow: get-box-shadows(60);
  }
}

#bit-zero {
  text-shadow: get-box-shadows(60);

  &::after {
    content: "0";
    position: absolute;
    top: 2000px;
    text-shadow: get-box-shadows(60);
  }
}

@keyframes bits-anim {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-3000px);
  }
}
