@import "typing";

#connect {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  // #header-connect {
  //   justify-self: flex-start;
  //   margin-top: 0px;
  // }

  .type-connect {
    @include typing-anim(2s, 12);
  }

  #caret-connect {
    @include blinking-caret-anim(0s, infinite, backwards);
  }

  #connections {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: center;
    justify-content: space-around;
    align-items: center;

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 10vw;

      span {
        margin: 10px;
        font-size: 16px;
      }
    }
  }

  #meet-greet {
    align-self: center;
    font-size: 18px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 600px) {
  #connect {
    #connections {
      flex-direction: column;
      justify-content: space-between;

      a {
        margin: 10px;
        span {
          font-size: 12px;
        }
      }
    }

    #meet-greet {
      font-size: 16px;
    }
  }
}
