@import "typing";

#connect {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  #header-connect {
    @include typing-anim(2s, 12);
  }

  #caret-connect {
    @include blinking-caret-anim(0s, infinite, backwards);
  }

  #connections {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: center;
    justify-content: space-around;
    align-items: center;

    a {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 15vw;
      color: black;
      // background-color: yellow;
      // border: solid 1px black;

      span {
        margin: 10px;
        font-size: 16px;
      }
    }
  }

  #meet-greet {
    align-self: center;
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 600px) {
  #connect {
    #connections {
      a {
        span {
          font-size: 12px;
        }
      }
    }
  }
}
