#intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  #intro-texts {
    display: flex;
    flex-direction: column;
    // background-color: gray;
    justify-content: center;
    align-items: flex-start;

    #greet {
      @include typing-anim(1s, 6);
    }

    #caret-greet {
      @include blinking-caret-anim(0s, 0, forwards);
    }

    #name {
      @include typing-anim(3.5s, 21, 1.5s);
    }

    #caret-name {
      @include blinking-caret-anim(1s, infinite);
      visibility: hidden;
    }
  }

  #my-pic {
    width: 35%;
    filter: drop-shadow(5px 5px 10px black);
    background-color: transparent;

    img {
      width: 100%;
      object-fit: cover;
      clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
  }
}

@media only screen and (max-width: 600px) {
  #intro {
    #intro-texts {
      align-items: center;
      margin: auto;

      #name,
      #greet {
        font-size: 3em;
      }
    }
  }

  #my-pic {
    display: none;
  }
}
