@import "typing";

#skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // background-color: yellowgreen;

  .typewriter {
    margin-top: 2vw;
  }

  #header-skills {
    @include typing-anim(2s, 12);
  }

  #caret-skills {
    @include blinking-caret-anim(0s, infinite, backwards);
  }

  #skill-carousel {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    // background-color: skyblue;

    #skill-items-container {
      position: relative;
      height: fit-content;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      align-items: stretch;
      overflow: hidden;
      scroll-behavior: smooth;

      .skill-item {
        // border: solid 2px black;
        // background-color: yellow;
        margin: 0px;
        padding: 0px;
        min-width: 90%;
        // padding: 10px;
      }

      .skill-item-header {
        font-size: $medium-text-size;
      }

      .skill-item-sub-header {
        font-weight: bold;
      }

      .skill-item-contents {
        margin-left: 20px;
        margin-top: 20px;
      }

      .skill-list {
        margin-left: 20px;
        list-style-type: circle;

        li {
          padding: 5px;
        }

        .skill-sub-list {
          list-style-type: none;
          margin: 0px;
          padding: 0px;

          li:before {
            content: "-";
          }
        }
      }

      #skill-programming-contents {
        display: grid;
        grid-template-columns: 30% 40%;
      }

      #skill-web-contents {
        display: grid;
        grid-template-columns: 40% 50%;
      }

      #skill-android-contents {
        display: grid;
        grid-template-columns: 40% 50%;
      }

      #skill-ai-contents {
        display: grid;
        grid-template-columns: 50% 50%;
      }

      #skill-blockchain-contents {
        display: grid;
        grid-template-columns: 50% 50%;
      }

      #skill-google {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        #shrug-emoji {
          font-family: Arial, Helvetica, sans-serif;
          font-size: $big-text-size;
          font-weight: bold;
        }

        #shrug-text {
          font-size: $medium-text-size;
          font-weight: bold;
        }
      }
    }

    #nav-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-self: center;

      .nav-btn {
        width: 30px;
        height: 30px;
        border: none;
        background: none;
        cursor: pointer;
        border-radius: 50%;

        i {
          font-size: 20px;
        }
      }

      #nav-dots {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .nav-dot {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: solid 1px black;
          margin: 5px;
          transform: scale(1);
          transition: all 0.5s;
          cursor: pointer;
        }

        .nav-dot:hover {
          transform: scale(1.5);
        }

        .nav-dot-current {
          transform: scale(1.5);
          background-color: black;
        }
      }
    }

    #fade-gradient {
      height: 50%;
      min-width: 10%;
      z-index: 1;
      position: absolute;
      right: 7.5%; // (100-85)/2
      cursor: pointer;
    }

    // gradient for light mode
    #fade-gradient::after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 1)
      );
      z-index: 1;
      opacity: 1;
      transition-property: opacity;
      transition-duration: 0.5s;
      transition-delay: 0.3s;
    }

    // gradient for dark mode
    #fade-gradient::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: none;
      z-index: 1;
      opacity: 0;
      transition-property: opacity;
      transition-duration: 0.5s;
      transition-delay: 0.3s;
    }
  }
}

@media only screen and (max-width: 600px) {
  #skills {
    #skill-carousel {
      #skill-items-container {
        width: 100%;
        justify-content: flex-start;
        margin-top: 10px;

        .skill-item-header {
          font-size: 18px;
        }

        .skill-item-contents {
          margin-left: 10px;
          margin-top: 5px;
        }

        .skill-item {
          min-width: 100%;
        }

        .skill-list {
          li {
            padding: 2px;
          }
        }

        #skill-programming-contents,
        #skill-web-contents,
        #skill-android-contents,
        #skill-ai-contents,
        #skill-blockchain-contents {
          grid-template-columns: 100%;
          grid-template-rows: auto auto;
          grid-row-gap: 10px;
        }
      }

      #nav-buttons {
        #nav-dots {
          .nav-dot {
            width: 6px;
            height: 6px;
          }
        }
      }

      #fade-gradient {
        display: none;
      }
    }
  }
}
