$big-text-size: 6.5vw;
$medium-text-size: 3.5vw;

$size-nav-bar-collapsed: 48px;
$size-nav-bar-expanded: 172px;

$sun-inner: yellow;
$sun-border: orange;
$sun-background: skyblue;

$moon-inner: #fffdf2;
$moon-border: #dee1c5;
$moon-background: rgb(36, 36, 36);
