@import "./typing";
@import "./navbar";
@import "./intro";
@import "./variables";

html,
body {
  color: black;
  background-color: white;
  font-family: "Overpass Mono";
}

* {
  padding: 0px;
  margin: 0px;
}

#wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  align-items: center;
  justify-content: space-between;
  // background-color: gray;

  #about {
    width: 80%;
    // background-color: yellow;
    margin-top: 50px;
  }
}
