@import "typing";
@import "navbar";
@import "intro";
@import "variables";
@import "about";
@import "skills";
@import "connect";

html,
body {
  scroll-behavior: smooth;
  color: $light-mode-font-color;
  background-color: $light-mode-background;
  font-family: "Overpass Mono";
  overflow: hidden;
  transition: 0.5s;
}

a {
  color: black;
  text-decoration: none;
}

.dark {
  color: $dark-mode-font-color;
  background-color: $dark-mode-background;

  #navbar {
    background-color: $dark-mode-background;
  }

  * {
    color: white;
  }

  .typewriter {
    background-color: $moon-background;
  }

  .caret {
    background-color: white;
  }

  #mode-switch {
    #slider {
      background-color: $moon-background;
    }
  }

  #skills {
    #skill-carousel {
      #nav-buttons {
        #nav-dots {
          .nav-dot {
            border: solid 1px white;
          }

          .nav-dot-current {
            background-color: whitesmoke;
          }
        }
      }

      #fade-gradient {
        // background-image: none;
      }

      #fade-gradient::before {
        opacity: 1;
        background-image: linear-gradient(
          to right,
          rgba(18, 18, 18, 0.5),
          rgba(18, 18, 18, 1)
        );
      }

      #fade-gradient::after {
        background-image: none;
        opacity: 0;
      }
    }
  }

  #nav-dots {
    .nav-dot {
      border: solid 1px white;
    }
  }

  .nav-dot-current {
    background-color: white;
  }
}

* {
  padding: 0px;
  margin: 0px;
}

#wrapper {
  width: 85%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  align-items: center;
  justify-content: flex-start;
  // overflow: hidden;
  scroll-behavior: smooth;
  // background-color: $light-mode-background;

  .header {
    font-size: $big-text-size;
    font-weight: bolder;
  }

  section {
    width: 100%;
    height: 100vh;
    margin-bottom: 0px;
    transition: 1s;

    .caret {
      height: $big-text-size;
    }
  }
}

@media only screen and (max-width: 600px) {
  #wrapper {
    width: 90%;

    section {
      .header {
        font-size: 3em;
      }
      .caret {
        height: 3em;
      }
    }
  }
}
